<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.js"></script> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link rel="stylesheet" type="text/css" href="/chatroom.css">
  <title>Chatroom</title>
</head>

<body>
  <main>
    <div class="chat-dashboard">

      <!-- Left Navbar -->
      <div class="navbar">
        <div class="avatar">M</div>
        <div class="icons">
          <!-- <i class="fas fa-plus"></i> -->
          <i class="fas fa-user-plus"></i>
          <i class="fas fa-user-friends"></i>
          <i class="fas fa-cog"></i>
          <i class="fas fa-bell"></i>
          <i class="far fa-bell"></i>
        </div>
        <div class="logout-btn">
          <i class="fas fa-sign-out-alt"></i>
        </div>
      </div>

      <!-- Middle Chat List -->
      <div class="chat-list">

        <div class="chat-list-navbar">
          <div class="title">Messages</div>
          <input type="text" class="searchbar" placeholder="Search">
        </div>

        <div class="scrollbar" id="chat-list-scrollbar">
          <!-- <a href="/chatroom/123">
            <div class="chat-list-message-box">
              <div class="avatar">S</div>
              <div class="name-message">
                <div class="name">Shaoyun</div>
                <div class="message">Happy New Year!</div>
              </div>
              <div class="message-time">13:29</div>
            </div>
          </a>
          <a href="/chatroom/456">
            <div class="chat-list-message-box">
              <div class="avatar">S</div>
              <div class="name-message">
                <div class="name">Shaoyun</div>
                <div class="message">Happy New Year!</div>
              </div>
              <div class="message-time">13:29</div>
            </div>
          </a> -->
        </div>
      </div>


      <!-- Chatroom-->
      <div class="chatbox" id="chatbox">
        <div class="top-bar">
          <div class="avatar" id="chatbox-top-bar-avatar">
            <p></p>
          </div>
          <div class="name" id="chatbox-top-bar-name"></div>
          <div class="icons">
            <i class="fas fa-search fa-lg"></i>
            <i class="fas fa-video fa-lg"></i>
            <i class="fas fa-phone fa-lg" id="audio-call-btn"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <div class="middle-scollbar">
          <div class="chat-message-box">
            <!-- <div class="receiver-info">
              <div class="receiver-name">Shaoyun</div>
              <div class="receiving-time">13:25</div>
            </div>
            <div class="receiver-bubble bubble">Lorem ipsum dolor sit amet. Hic libero enim aut nihil facere ut
              voluptatem voluptas. In eaque dolores est voluptatibus
              enim qui Quis incidunt aut mollitia amet et sequi suscipit! Sed vero debitis nam consequatur facere et
              beatae dolorem.
              Ex ullam perferendis 33 voluptatibus odit qui minima consectetur est velit quia aut molestias Quis id
              odio quam ut sunt
              consequatur.</div>
            <div class="sender-info">
              <div class="sender-name">You</div>
              <div class="sending-time">13:29</div>
            </div>
            <div class="sender-bubble bubble">Lorem ipsum dolor sit amet. Hic libero enim aut nihil facere ut
              voluptatem voluptas. In eaque dolores est voluptatibus
              enim qui Quis incidunt aut mollitia amet et sequi suscipit! Sed vero debitis nam consequatur facere et
              beatae dolorem.
              Ex ullam perferendis 33 voluptatibus odit qui minima consectetur est velit quia aut molestias Quis id
              odio quam ut sunt
              consequatur.</div> -->
            <!-- <div class="typing">
              <div class="bubble">
                <div class="ellipsis one"></div>
                <div class="ellipsis two"></div>
                <div class="ellipsis three"></div>
              </div>
            </div> -->
          </div>
        </div>
        <div class="bottom-bar">
          <div class="text-area">
            <input type="text" placeholder="Type a message..." id="input-message" />
            <button id="send-message-btn">
              <i class="fas fa-paper-plane fa-lg"></i>
            </button>
          </div>
        </div>
      </div>


    </div>
    <!-- 
    <div class="incoming-call-popup">
      <audio autoplay loop>
        <source src="https://d1gnt5bnf8w529.cloudfront.net/ringtone.wav" type="audio/wav">
      </audio>
      <div class="caller-avatar">
        <img src="https://d1gnt5bnf8w529.cloudfront.net/Shiromaro.png">
      </div>
      <div class="caller-name">Shaoyun</div>
      <div class="incoming-call-description">Incoming call...</div>
      <div class="incoming-call-icons">
        <i class="fas fa-phone" id="accept-call-btn"></i>
        <i class="fas fa-phone" id="decline-call-btn"></i>
      </div>
    </div> -->

    <!-- audio connecting popup -->
    <!-- <div class="audio-connecting-popup">
      <div class="audio-connecting-avatar">
        <img src="https://d1gnt5bnf8w529.cloudfront.net/Shiromaro.png">
        <i class="fas fa-microphone-slash display-none"></i>
      </div>
      <div class="caller-name">Shaoyun</div>
      <div class="incoming-call-description">Audio connecting...</div>
      <div class="incoming-call-description">0:06</div>
      <div class="incoming-call-icons">
        <i class="fas fa-microphone mute-unmute-toggle-btn" id="unmute-btn"></i>
        <i class="fas fa-microphone-slash mute-unmute-toggle-btn display-none" id="mute-btn"></i>
        <i class="fas fa-phone" id="end-call-btn"></i>
      </div>
    </div> -->


  </main>
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/chatroom.js"></script>
  <script type="text/javascript" src="/audiocall.js"></script>
</body>

</html>