<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.js"></script> -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link rel="stylesheet" type="text/css" href="/chatroom.css">
  <link rel="stylesheet" type="text/css" href="/friendlist.css">
  <title>Contacts</title>
</head>

<body>
  <main>
    <div class="chat-dashboard">

      <!-- Left Navbar -->
      <div class="navbar">
        <div class="avatar">M</div>
        <div class="icons">
          <!-- <i class="fas fa-plus"></i> -->
          <i class="fas fa-user-plus"></i>
          <i class="fas fa-user-friends"></i>
          <i class="fas fa-cog"></i>
          <i class="fas fa-bell"></i>
          <i class="far fa-bell"></i>
        </div>
        <div class="logout-btn">
          <i class="fas fa-sign-out-alt"></i>
        </div>
      </div>

      <!-- Middle Part -->
      <div class="chat-list">
        <div class="chat-list-navbar">
          <div class="title">Contacts</div>
          <!-- <i class="fas fa-search"></i> -->
          <input type="text" class="searchbar" placeholder="Search" id="friend-search-bar">
        </div>
        <div class="scrollbar" id="friend-list-scrollbar">
          <div class="user-search-list"></div>
          <div class="friend-list"></div>
        </div>
      </div>

      <!-- Right Part-->
      <div class="right-box">
        <!-- <div class="add-friend-request-box">
          <div class="add-friend-request-friend-avatar">
            <img src="https://d1gnt5bnf8w529.cloudfront.net/Shiromaro.png">
          </div>
          <div class="add-friend-request-friend-name"></div>
          <div class="add-friend-request-btn">Add</div>
        </div> -->
      </div>

    </div>

  </main>
  <script type="text/javascript" src="/friendlist.js"></script>
</body>

</html>