<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link rel="stylesheet" type="text/css" href="/index.css">
  <title>Sparkles Chat</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>
  <header>
    <div class="top-bar" id="top-bar">
      <div class="top-bar-left" id="logo">Sparkles Chat✧</div>
      <div class="top-bar-right not-logged-in" id="not-loggedin-status">
        <div class="sign-in-btn" id="nav-login-btn">Log In</div>
        <div class="sign-up-btn" id="nav-signup-btn">Sign Up</div>
      </div>
      <div class="top-bar-right logged-in" id="loggedin-status">
        <div class="chatroom-btn" id="nav-chatroom-btn">Chatroom</div>
        <div class="sign-up-btn" id="nav-signout-btn">Sign Out</div>
      </div>

    </div>
    <div class="svg-container">
      <svg viewbox="0 0 800 400" class="svg">
        <path id="curve" fill="#64cef4" d="M 800 250 Q 400 350 0 250 L 0 0 L 800 0 L 800 200 Z">
        </path>
      </svg>
    </div>
    <div class="greeting">
      <div class="greeting-one">Welcome to Sparkles Chat✧</div>
      <div class="greeting-two">Real-time text and voice chat services</div>
    </div>
  </header>

  <main>
    <div class="message-texting intro">
      <h1>Real-time Text Messages</h1>
      <div class="intro-content">
        Sparkles chat offers real-time text messaging for seamless communication.<br>
        you can share your thoughts and ideas with your loved ones instantly.<br>
        Join the conversation and start chatting today!
      </div>
      <img src="/text-msg.gif" />
    </div>
    <div class="divider"></div>
    <br>
    <div class="image-message intro">
      <h1>Image Sharing</h1>
      <div class="intro-content">Sparkles Chat also allows you to share images with ease, <br>
        whether it's your latest
        vacation photos or adorable
        pet photos. <br>You can easily upload and share images with your friends
        and family.
      </div>
      <img src="/image-msg-2.gif" />
    </div>
    <div class="divider"></div>
    <div class="friend-request intro">
      <h1>User Search</h1>
      <div class="intro-content">You can also search for all users by name or email and send friend requests to them.
        <br>
        This feature makes it easy to expand your network and connect with new people.
      </div>
      <img src="/user-search.gif" />
      <img src="/friend-request.gif" />
    </div>
    <div class="divider"></div>
    <div class="audio-chat intro">
      <h1>Voice Chat</h1>
      <div class="intro-content">
        Sparkles Chat offers real-time voice calls,<br>
        allowing you to easily connect with people from anywhere.
      </div>
      <img src="/audio-chat.gif" />
    </div>
    <div class="anchor" id="back-to-top">Top</div>
  </main>

  <footer>
    <p>Copyright © 2023 Shaoyun Jian
      <a href="https://github.com/shaoyunjian/sparkles-chat" target="_blank">
        <span class="ts-icon is-github-icon"></span>
      </a>
    </p>
    <svg viewBox="0 0 1440 320">
      <path fill="#f9ff9e" fill-opacity="1"
        d="M0,192L80,192C160,192,320,192,480,176C640,160,800,128,960,117.3C1120,107,1280,117,1360,122.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
      </path>
    </svg>
  </footer>

  <div class="ts-modal " id="login-modal">
    <div class="ts-content">
      <div class="ts-center">
        <div class="ts-segment" style="width: 350px; padding: 15px 30px 30px 30px;">
          <span class="ts-close is-tertiary" id="login-modal-close-btn"></span>
          <div class="ts-content">
            <div class="ts-header is-center-aligned is-big is-heavy">Login</div>
          </div>
          <div class="ts-wrap is-vertical">
            <div class="ts-input is-start-icon is-fluid">
              <span class="ts-icon is-envelope-icon" id="login-account-icon"></span>
              <input type="text" placeholder="email" value="sparkles@sparkles.com" id="login-email" />
            </div>
            <div class="login-error-message" id="login-email-error-message"></div>
            <div class="ts-input is-start-icon is-fluid">
              <span class="ts-icon is-lock-icon" id="login-password-icon"></span>
              <input type="password" placeholder="password" value="12345678" id="login-password" />
            </div>
            <div class="login-error-message" id="login-password-error-message"></div>
            <div class="login-message">
            </div>
            <button class="ts-button is-fluid" id="login-btn">
              Log In
            </button>
            <div class="login-to-signup-description">Don't have an account?
              <span id="login-to-signup-btn">Create one!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ts-modal register-container" id="signup-modal">
    <div class="ts-content">
      <div class="ts-center">
        <div class="ts-segment" style="width: 350px; padding: 20px 30px 30px 30px;">
          <span class="ts-close is-tertiary" id="signup-modal-close-btn"></span>
          <div class="ts-content">
            <div class="ts-header is-center-aligned is-big is-heavy">Create New Account</div>
          </div>
          <div class="ts-wrap is-vertical">
            <div class="ts-input is-start-icon is-fluid">
              <span class="ts-icon is-user-icon" id="signup-username-icon"></span>
              <input type="text" placeholder="username" id="signup-username" />
            </div>
            <div class="signup-error-message" id="signup-username-error-message"></div>
            <div class="ts-input is-start-icon is-fluid">
              <span class="ts-icon is-envelope-icon" id="signup-email-icon"></span>
              <input type="text" placeholder="email" id="signup-email" />
            </div>
            <div class="signup-error-message" id="signup-email-error-message"></div>
            <div class="ts-input is-start-icon is-fluid">
              <span class="ts-icon is-lock-icon" id="signup-password-icon"></span>
              <input type="password" placeholder="password" id="signup-password" />
            </div>
            <div class="signup-error-message" id="signup-password-error-message"></div>
            <div class="signup-message">
            </div>
            <div class="signup-success-message">
              <!-- Signup successful! -->
            </div>
            <button class="ts-button is-fluid" id="signup-btn">
              Sign Up
            </button>
            <div class="signup-to-login-description">Have an account?
              <span id="signup-to-login-btn">Log in</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tocas/4.1.0/tocas.min.js"></script>
  <script type="text/javascript" src="/common.js"></script>
  <script type="text/javascript" src="/index.js"></script>
</body>

</html>