<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  <link rel="stylesheet" href="user.css">
  <title>Login</title>
</head>

<body>
  <main>

    <div class="login-container">
      <div class="login-title">Login</div>
      <div><input type="email" placeholder="email" id="login-email"></div>
      <div><input type="password" placeholder="password" id="login-password"></div>
      <button id="login-btn">Login</button>
    </div>

    <div class="register-container">
      <div class="register-title">Create Account</div>
      <div><input type="text" placeholder="username" id="register-username"></div>
      <div><input type="email" placeholder="email" id="register-email"></div>
      <div><input type="password" placeholder="password" id="register-password"></div>
      <button id="register-btn">Create Account</button>
    </div>

  </main>

  <script src="user.js"></script>
</body>

</html>