@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

$gradientColor: linear-gradient(to bottom left, rgb(222, 226, 226) 50%, #f9fbff 100%) no-repeat;
$avatarColor: linear-gradient(to bottom left, rgb(205, 205, 205) 55%, #f9fbff 100%);
$borderLine: 2px solid rgba(180, 180, 180, 0.3);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Times New Roman";
}

a {
  text-decoration: none;
  color: #000000;
}

// img {
//   width: 50px;
//   height: 50px;
// }

// html {
//   height: 100%;
// }

// body {
//   width: 100%;
//   min-height: 100%;
//   border: 1px solid green;
// }

header {
  position: absolute;
  z-index: 1;
  top: 1px;
  height: 56.05px;
  background: #f9fbff;
  text-align: center;

  display: flex;
  border-bottom: 3px solid rgba(180, 180, 180, 0.3);
  width: 100vw;

  .header-logo {
    width: 100%;
    height: 56.05px;
    line-height: 56.05px;
    font-size: 34px;
    font-family: "Monoton";
    margin-left: 15px;
    color: rgb(0, 0, 0);
  }
}

/* ----- left box: chat list --------- */

.chat-list {

  .scrollbar {
    overflow: auto;
    margin: 3px 5px;

    .active {
      background-color: var(--ts-gray-100);
      border-radius: 10px;
      // border-radius: 0 40px 40px 0;
      // border-left: 4px solid #383838;
    }

    .chat-list-middle-item {
      width: 190px;

      .chat-list-last-message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .chat-list-item {
      cursor: pointer;
    }

    .chat-list-item:hover {
      background-color: var(--ts-gray-100);
      border-radius: 10px;
    }

    .chat-list-right-item {
      width: 45px;

      .chat-list-time {
        text-align: center;
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 10px;
        color: #f1f1f1;
        border-radius: 50%;
        background: #FFC100;
      }
    }
  }

}

// ---- right-box: chat box ------

.right-box {

  // ------ middle scrollbar -----

  .middle-scollbar {
    overflow: auto;
    background: #efefefad;

    .ts-content {
      .chat-message-box {

        .receiver-message {
          display: flex;
          height: auto;

          .receiver-name {
            color: rgb(84, 84, 84);
            margin: 0px 10px;
          }

          .receiver-bubble-box {
            display: flex;
            align-items: end;
            margin-bottom: 10px;

            .receiver-bubble {
              background: rgb(245, 247, 251);
              border-radius: 0 10px 10px 10px;
              padding: 15px;
            }

            .receiving-time {
              color: rgb(136, 136, 136);
              font-size: 14px;
              margin: auto 0 10px 5px;
            }
          }
        }


        .sender-message {
          .sender-bubble-box {
            margin: 10px 15px 10px 10px;
            display: flex;
            justify-content: right;
            align-items: end;

            div {
              margin: 0 5px;
            }

            .sending-time {
              color: rgb(136, 136, 136);
              margin-bottom: 5px;
              font-size: 14px;
            }
          }

          .sender-bubble {
            background: linear-gradient(to bottom left, rgb(134, 225, 255) 35%, #f9fbff 100%) no-repeat;
            border-radius: 10px 0 10px 10px;
            margin-left: auto;
            padding: 15px;
          }
        }
      }
    }
  }

  .bubble {
    min-height: 30px;
    max-width: 60%;
    margin: 5px 5px 5px 10px;
  }
}

/* ------- scroll bar  --------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(225, 225, 225);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(211, 211, 211);
}

// avatar badge

.avatar {
  position: relative;
  display: flex;

  .avatar-badge.online {
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 0px;
    right: 1px;
    border-radius: 50%;
    // background: rgb(73, 203, 73);
    background-color: var(--ts-positive-400);
    border: 2px solid white;
  }

  .avatar-badge.offline {
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 0px;
    right: 1px;
    border-radius: 50%;
    background-color: var(--ts-gray-400);
    border: 2px solid white;
  }
}

// notification badge

.notification-btns {
  position: relative;
  display: flex;

  .notification-badge {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -3px;
    right: -1px;
    border-radius: 50%;
    background-color: var(--ts-negative-400);
    border: 2px solid white;
  }

}

// typing dots

.typing.cell {
  background: rgba(0, 0, 0, 0.15);
  height: 40px;
  line-height: 40px;
  border: 0px;
  padding: 0px 15px;

  .typing-loading {
    display: flex;

    .loading-data {
      border: 0;
    }

    .typing-description {
      color: var(--ts-gray-500);
      font-size: 14px;
      margin-right: 6px;
    }

    .three-bounce div {
      width: 8px;
      height: 8px;
      background: #898989;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: threeBounceDelay 1.4s infinite ease-in-out;
      animation: threeBounceDelay 1.4s infinite ease-in-out;
      -webkit-animation-fill-mode: "both";
      animation-fill-mode: "both";
      margin: 0 1px;
    }

    .three-bounce .bounce1 {
      width: 10px;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .three-bounce .bounce2 {
      width: 12px;
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }
}


@-webkit-keyframes threeBounceDelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes threeBounceDelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


.event-none {
  pointer-events: none;
}


// ------- audio call -----------

.incoming-call-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 300px;
  background: #000000ce;
  border-radius: 25px;

  flex-direction: column;
  padding: 20px;

  .caller-name {
    color: white;
    font-size: 20px;
  }

  .incoming-call-description {
    color: rgb(177, 177, 177);
    font-size: 14px;
  }

  .caller-avatar {
    img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
    }
  }

  .incoming-call-icons {
    display: flex;

    i {
      width: 50px;
      height: 50px;
      font-size: 22px;
      color: #ffffff;
      border-radius: 50%;
      margin: 15px 20px 0 20px;
      text-align: center;
      line-height: 50px;
    }

    #accept-call-btn {
      background: rgb(32, 200, 74);
      // transform: rotate(180deg);
    }

    #decline-call-btn {
      background: rgb(227, 33, 33);
      transform: rotate(225deg);
    }
  }
}

// audio connecting
.audio-connecting-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 300px;
  background: #000000ce;
  border-radius: 25px;

  flex-direction: column;
  padding: 20px;

  .caller-name {
    color: white;
    font-size: 20px;
  }

  .incoming-call-description {
    color: rgb(177, 177, 177);
    font-size: 14px;
  }

  .audio-connecting-avatar {
    position: relative;

    img {
      width: 110px;
      height: 110px;
      border-radius: 50%;
    }

    i {
      position: absolute;
      top: 0;
      right: 0;

      background-color: #313030a3;
      color: #ffffff;
      border-radius: 50%;
      width: 110px;
      height: 110px;
      line-height: 110px;
      text-align: center;
      font-size: 25px;
    }
  }

  .incoming-call-icons {
    display: flex;

    i {
      width: 50px;
      height: 50px;
      font-size: 22px;
      color: #ffffff;
      border-radius: 50%;
      margin: 15px 20px 0 20px;
      text-align: center;
      line-height: 50px;
    }

    #unmute-btn,
    #mute-btn {
      background: rgb(100, 100, 100);
    }

    #end-call-btn {
      background: rgb(227, 33, 33);
      transform: rotate(225deg);
    }
  }
}



// display-none

.display-none {
  display: none;
}