* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom left, #80d7ff 50%, #f9fbff 100%) no-repeat;
  width: 100%;
  height: 100%;
}

i {
  cursor: pointer;
}

.chat-dashboard {
  width: 1200px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 30px auto;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 60px 300px 2fr;
  box-shadow: 1px 3px 3px 3px rgba(161, 161, 255, 0.2);
}

.navbar {
  border-right: 2px solid rgba(180, 180, 180, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navbar .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #80d7ff;
  text-align: center;
  line-height: 40px;
  margin: 15px 0;
}
.navbar .icons {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.navbar .icons > i {
  margin: 10px;
  color: #80d7ff;
}
.navbar .logout-btn {
  margin: 100px 0 30px 0;
}

/* ------------- chat list --------------- */
.chat-list {
  border-right: 2px solid rgba(180, 180, 180, 0.3);
  padding: 10px;
}
.chat-list .chat-list-navbar {
  height: auto;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.chat-list .chat-list-navbar .title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.chat-list .chat-list-navbar .searchbar {
  border: 0;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 7px;
  outline: none;
  margin-bottom: 10px;
}
.chat-list .scrollbar {
  height: 600px;
  overflow: auto;
}
.chat-list .scrollbar .message-box {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  background: #afdeff;
  border-radius: 10px;
}
.chat-list .scrollbar .message-box .avatar {
  width: 40px;
  height: 40px;
  background-color: #80d7ff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}
.chat-list .scrollbar .message-box .name-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-list .scrollbar .message-box .name-message .name {
  font-size: 18px;
  font-weight: bold;
}
.chat-list .scrollbar .message-box .name-message .message {
  font-size: 14px;
}
.chat-list .scrollbar .message-time {
  margin-left: auto;
  font-size: 14px;
}

/* ------------- chat box --------------- */
.chatbox {
  position: relative;
  display: grid;
  grid-template-rows: 60px 575px 65px;
  /* ----------- text area -------------- */
}
.chatbox .top-bar {
  display: flex;
  line-height: 40px;
  padding: 10px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.3);
}
.chatbox .top-bar .avatar > p {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #80d7ff;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}
.chatbox .top-bar .name {
  font-weight: bold;
}
.chatbox .top-bar .icons {
  margin-left: auto;
  color: #80d7ff;
}
.chatbox .middle-scollbar {
  overflow: auto;
}
.chatbox .middle-scollbar .message-box .receiver {
  padding: 0 15px;
}
.chatbox .middle-scollbar .message-box .receiver .receiver-info {
  text-align: right;
  margin: 10px 10px -5px 10px;
  display: flex;
  justify-content: left;
}
.chatbox .middle-scollbar .message-box .receiver .receiver-info div {
  margin: 0 5px;
}
.chatbox .middle-scollbar .message-box .receiver .receiver-bubble {
  background: #bbbbbb;
  border-radius: 0 10px 10px 10px;
  padding: 15px 10px 15px 15px;
}
.chatbox .middle-scollbar .message-box .sender {
  padding: 0 15px;
  margin-top: 20px;
}
.chatbox .middle-scollbar .message-box .sender .sender-info {
  text-align: right;
  margin: 10px 10px -5px 10px;
  display: flex;
  justify-content: right;
}
.chatbox .middle-scollbar .message-box .sender .sender-info div {
  margin: 0 5px;
}
.chatbox .middle-scollbar .message-box .sender .sender-bubble {
  background: #ffffff;
  border-radius: 10px 0 10px 10px;
  margin-left: auto;
  padding: 15px 10px 15px 15px;
}
.chatbox .bubble {
  min-height: 40px;
  max-width: 60%;
  margin: 10px;
}
.chatbox .bottom-bar {
  width: 100%;
  height: 65px;
  border-radius: 0 0 10px 0;
}
.chatbox .bottom-bar .text-area {
  height: 65px;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 50px;
}
.chatbox .bottom-bar .text-area input {
  padding: 7px;
  background: #badef8;
  outline: 0;
  border: none;
  color: #000000;
  border-radius: 10px 0 0 10px;
}
.chatbox .bottom-bar .text-area input[text] {
  color: #000000;
}
.chatbox .bottom-bar .text-area button {
  cursor: pointer;
  border: 0;
  color: #80d7ff;
  background: #badef8;
  border-radius: 0 10px 10px 0;
  border-left: 2px solid rgba(180, 180, 180, 0.3);
}

/* ----------- scroll bar  -------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(225, 225, 225);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(211, 211, 211);
}/*# sourceMappingURL=chatroom.css.map */