@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Times New Roman";
}

body {
  background: linear-gradient(to bottom left, rgb(222, 226, 226) 50%, #f9fbff 100%) no-repeat;
  width: 100%;
  height: 100%;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000000;
}

.chat-dashboard {
  width: 1200px;
  height: 720px;
  background-color: rgb(255, 255, 255);
  margin: 30px auto;
  border-radius: 40px;
  border: 10px solid rgba(177, 177, 177, 0.4823529412);
  display: grid;
  grid-template-columns: 60px 300px 1fr;
  box-shadow: 1px 3px 3px 3px rgba(161, 161, 255, 0.2);
}

.navbar {
  border-right: 2px solid rgba(180, 180, 180, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navbar .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to bottom left, rgb(205, 205, 205) 55%, #f9fbff 100%);
  text-align: center;
  line-height: 40px;
  margin: 15px 0;
}
.navbar .icons {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.navbar .icons > i {
  margin: 10px;
  color: rgba(180, 180, 180, 0.8);
}
.navbar .logout-btn {
  margin: 100px 0 30px 0;
}

/* ------------- chat list --------------- */
.chat-list {
  border-right: 2px solid rgba(180, 180, 180, 0.3);
  padding: 10px;
}
.chat-list .chat-list-navbar {
  height: auto;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.chat-list .chat-list-navbar .title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.chat-list .chat-list-navbar .searchbar {
  border: 0;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 7px;
  outline: none;
  margin-bottom: 10px;
  background-color: rgb(245, 247, 247);
}
.chat-list .scrollbar {
  height: 600px;
  overflow: auto;
}
.chat-list .scrollbar .chat-list-message-box {
  cursor: pointer;
  display: flex;
  margin: 10px 0;
  padding: 10px;
  background: rgb(245, 247, 251);
  border-radius: 10px;
}
.chat-list .scrollbar .chat-list-message-box .avatar {
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom left, rgb(205, 205, 205) 55%, #f9fbff 100%);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}
.chat-list .scrollbar .chat-list-message-box .name-message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.chat-list .scrollbar .chat-list-message-box .name-message .name {
  font-size: 16px;
  font-weight: bold;
}
.chat-list .scrollbar .chat-list-message-box .name-message .message {
  font-size: 14px;
}
.chat-list .scrollbar .message-time {
  margin-left: auto;
  font-size: 14px;
}

/* ------------- chat box --------------- */
.chatbox {
  position: relative;
  display: grid;
  grid-template-rows: 60px 575px 65px;
  /* ----------- text area -------------- */
}
.chatbox .top-bar {
  display: flex;
  line-height: 40px;
  padding: 10px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.3);
}
.chatbox .top-bar .avatar > p {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: linear-gradient(to bottom left, rgb(205, 205, 205) 55%, #f9fbff 100%);
  text-align: center;
  line-height: 40px;
  margin-right: 10px;
}
.chatbox .top-bar .name {
  font-weight: bold;
}
.chatbox .top-bar .icons {
  margin-left: auto;
  margin-right: 10px;
  color: #d3d2d2;
}
.chatbox .top-bar .icons i {
  margin: 0 5px;
}
.chatbox .top-bar .icons :hover {
  transform: scale(1.1);
  color: rgb(160, 180, 190);
}
.chatbox .middle-scollbar {
  overflow: auto;
}
.chatbox .middle-scollbar .chat-message-box {
  padding: 0 15px;
  margin-top: 20px;
}
.chatbox .middle-scollbar .chat-message-box .receiver-message {
  display: flex;
  height: auto;
}
.chatbox .middle-scollbar .chat-message-box .receiver-message .receiver-avatar p {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(to bottom left, rgb(205, 205, 205) 55%, #f9fbff 100%);
  text-align: center;
  line-height: 40px;
}
.chatbox .middle-scollbar .chat-message-box .receiver-message .receiver-name {
  color: rgb(84, 84, 84);
  margin: 5px 10px;
}
.chatbox .middle-scollbar .chat-message-box .receiver-message .receiver-bubble-box {
  display: flex;
  align-items: end;
  margin-bottom: 10px;
}
.chatbox .middle-scollbar .chat-message-box .receiver-message .receiver-bubble-box .receiver-bubble {
  background: rgb(245, 247, 251);
  border-radius: 0 10px 10px 10px;
  padding: 15px;
}
.chatbox .middle-scollbar .chat-message-box .receiver-message .receiver-bubble-box .receiving-time {
  color: rgb(136, 136, 136);
  font-size: 14px;
  margin: auto 0 10px 5px;
}
.chatbox .middle-scollbar .chat-message-box .sender-message .sender-bubble-box {
  margin: 10px 15px 10px 10px;
  display: flex;
  justify-content: right;
  align-items: end;
}
.chatbox .middle-scollbar .chat-message-box .sender-message .sender-bubble-box div {
  margin: 0 5px;
}
.chatbox .middle-scollbar .chat-message-box .sender-message .sender-bubble-box .sending-time {
  color: rgb(136, 136, 136);
  margin-bottom: 5px;
  font-size: 14px;
}
.chatbox .middle-scollbar .chat-message-box .sender-message .sender-bubble {
  background: linear-gradient(to bottom left, rgb(134, 225, 255) 35%, #f9fbff 100%) no-repeat;
  border-radius: 10px 0 10px 10px;
  margin-left: auto;
  padding: 15px;
}
.chatbox .bubble {
  min-height: 30px;
  max-width: 60%;
  margin: 5px 5px 5px 10px;
}
.chatbox .bottom-bar {
  width: 100%;
  height: 65px;
  border-radius: 0 0 10px 0;
}
.chatbox .bottom-bar .text-area {
  height: 65px;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 50px;
}
.chatbox .bottom-bar .text-area input {
  margin: 0 10px;
  padding: 0 15px;
  background: rgb(245, 247, 247);
  outline: 0;
  border: none;
  color: #000000;
  border-radius: 10px;
}
.chatbox .bottom-bar .text-area input[text] {
  color: #000000;
}
.chatbox .bottom-bar .text-area button {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 0;
  color: #80d7ff;
  background: rgba(186, 222, 248, 0);
  border-radius: 50%;
}
.chatbox .bottom-bar .text-area button i {
  transform: scale(1.2);
}
.chatbox .bottom-bar .text-area button :hover {
  color: rgb(3, 136, 213);
}

/* ----------- scroll bar  -------------- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(225, 225, 225);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(211, 211, 211);
}

@media screen and (max-width: 1200px) {
  .chat-dashboard {
    width: 95%;
    grid-template-columns: 60px 300px 1fr;
  }
}
.incoming-call-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 300px;
  background: rgba(0, 0, 0, 0.8078431373);
  border-radius: 25px;
  flex-direction: column;
  padding: 20px;
}
.incoming-call-popup .caller-name {
  color: white;
  font-size: 20px;
}
.incoming-call-popup .incoming-call-description {
  color: rgb(177, 177, 177);
  font-size: 14px;
}
.incoming-call-popup .caller-avatar img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.incoming-call-popup .incoming-call-icons {
  display: flex;
}
.incoming-call-popup .incoming-call-icons i {
  width: 50px;
  height: 50px;
  font-size: 22px;
  color: #ffffff;
  border-radius: 50%;
  margin: 15px 20px 0 20px;
  text-align: center;
  line-height: 50px;
}
.incoming-call-popup .incoming-call-icons #accept-call-btn {
  background: rgb(32, 200, 74);
}
.incoming-call-popup .incoming-call-icons #decline-call-btn {
  background: rgb(227, 33, 33);
  transform: rotate(225deg);
}

.audio-connecting-popup {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 300px;
  background: rgba(0, 0, 0, 0.8078431373);
  border-radius: 25px;
  flex-direction: column;
  padding: 20px;
}
.audio-connecting-popup .caller-name {
  color: white;
  font-size: 20px;
}
.audio-connecting-popup .incoming-call-description {
  color: rgb(177, 177, 177);
  font-size: 14px;
}
.audio-connecting-popup .audio-connecting-avatar {
  position: relative;
}
.audio-connecting-popup .audio-connecting-avatar img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.audio-connecting-popup .audio-connecting-avatar i {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(49, 48, 48, 0.6392156863);
  color: #ffffff;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  font-size: 25px;
}
.audio-connecting-popup .incoming-call-icons {
  display: flex;
}
.audio-connecting-popup .incoming-call-icons i {
  width: 50px;
  height: 50px;
  font-size: 22px;
  color: #ffffff;
  border-radius: 50%;
  margin: 15px 20px 0 20px;
  text-align: center;
  line-height: 50px;
}
.audio-connecting-popup .incoming-call-icons #unmute-btn,
.audio-connecting-popup .incoming-call-icons #mute-btn {
  background: rgb(100, 100, 100);
}
.audio-connecting-popup .incoming-call-icons #end-call-btn {
  background: rgb(227, 33, 33);
  transform: rotate(225deg);
}

.display-none {
  display: none;
}/*# sourceMappingURL=chatroom.css.map */