@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");

$gradientColor: linear-gradient(to bottom left, rgb(222, 226, 226) 50%, #f9fbff 100%) no-repeat;
$avatarColor: linear-gradient(to bottom left, rgb(205, 205, 205) 55%, #f9fbff 100%);
$borderLine: 2px solid rgba(180, 180, 180, 0.3);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Noto Sans TC", "Times New Roman";
}

a {
  text-decoration: none;
  color: #000000;
}

i {
  cursor: pointer;
}

// img {
//   width: 50px;
//   height: 50px;
// }

// html {
//   height: 100%;
// }

// body {
//   width: 100%;
//   min-height: 100%;
//   border: 1px solid green;
// }

header {
  position: absolute;
  z-index: 1;
  top: 1px;
  height: 56.05px;
  background: #f9fbff;
  text-align: center;

  display: flex;
  border-bottom: 2px solid rgba(180, 180, 180, 0.3);
  width: 100vw;

  .header-logo {
    width: 100%;
    height: 56.05px;
    line-height: 56.05px;
    font-size: 34px;
    font-family: "Monoton";
    margin-left: 15px;
    color: rgb(0, 0, 0);
    // color: white;
  }
}

/* ----- left box: chat list --------- */

.chat-list {

  .scrollbar {
    overflow: auto;
    margin: 3px 5px;

    .active {
      background-color: var(--ts-gray-100);
      border-radius: 10px;
      // border-radius: 0 40px 40px 0;
      // border-left: 4px solid #383838;
    }

    .chat-list-middle-item {
      width: 190px;

      .chat-list-friend-name {
        width: 190px;
        height: 25px;
        font-size: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .chat-list-last-message {
        width: 190px;
        height: 25px;
        // font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .chat-list-item {
      cursor: pointer;
    }

    .chat-list-item:hover {
      background-color: var(--ts-gray-100);
      border-radius: 10px;
    }

    .chat-list-right-item {
      width: 45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .chat-list-last-message-time {
        height: 20px;
        margin-bottom: 5px;
      }

      .unread-count-btn {
        text-align: center;
        height: 20px;
        width: 20px;
        line-height: 20px;
        font-size: 10px;

        p {
          color: #f1f1f1;
          border-radius: 50%;
          background: #FFC100;
        }
      }

    }
  }

}

// ---- right-box: welcome box ------

.greeting {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;


  .greeting-one {
    font-size: 26px;
    top: 110px;
    font-weight: 700;
  }

  .greeting-two {
    top: 120px;
    font-size: 20px;
  }
}

// ---- right-box: chat box ------

.right-box {

  // ------ middle scrollbar -----

  .middle-scollbar {
    overflow: auto;
    // background: #efefefad;
    background: #f1f1f1;

    .ts-content {
      .chat-message-box {

        .chat-image {
          cursor: pointer;
        }

        .chat-image:hover {
          filter: brightness(0.80);
        }

        .receiver-message {
          display: flex;
          height: auto;

          .receiver-name {
            color: rgb(84, 84, 84);
            margin: 0px 10px;
          }

          .receiver-bubble-box {
            display: flex;
            align-items: end;
            margin-bottom: 10px;

            .receiver-bubble {
              // background: rgb(245, 247, 251);
              // background: rgb(241, 241, 241);
              // background-color: var(--ts-gray-300);
              // border: 1px solid var(--ts-gray-300);
              background: white;
              border-radius: 0 10px 10px 10px;
              padding: 15px;
            }

            .receiving-time {
              color: rgb(136, 136, 136);
              font-size: 12px;
              margin: auto 0 2px 5px;
            }

            .message-image {
              margin: 5px 5px 0 10px;
            }
          }
        }


        .sender-message {
          .sender-bubble-box {
            margin: 10px 15px 10px 10px;
            display: flex;
            justify-content: right;
            align-items: end;

            div {
              margin: 0 5px;
            }

            .sending-time {
              color: rgb(136, 136, 136);
              margin-bottom: 2px;
              font-size: 12px;
            }
          }

          .sender-bubble {
            background: linear-gradient(to bottom left, rgb(134, 225, 255) 35%, #f9fbff 100%) no-repeat;
            // background: #ffbf0077;
            // background: linear-gradient(to bottom left, #74777888 35%, #f9fbff 100%) no-repeat;
            // background: #f9de55db;
            // background: var(--ts-gray-400);
            border-radius: 10px 0 10px 10px;
            margin-left: auto;
            padding: 15px;
          }
        }
      }
    }
  }

  .bubble {
    min-height: 30px;
    max-width: 60%;
    margin: 5px 5px 5px 10px;
  }
}

/* ------- scroll bar  --------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(225, 225, 225);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(211, 211, 211);
}

// avatar badge

.avatar {
  position: relative;
  display: flex;

  .avatar-badge {
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 0px;
    right: 1px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: var(--ts-gray-400);
  }

  .online {
    background-color: var(--ts-positive-400);
  }

}

// notification badge

.notification-btns {
  position: relative;
  display: flex;

  .notification-badge {
    width: 12px;
    height: 12px;
    position: absolute;
    top: -3px;
    right: -1px;
    border-radius: 50%;
    background-color: var(--ts-negative-400);
    border: 2px solid white;
  }

}

// typing dots

.typing.cell {
  background: rgba(0, 0, 0, 0.15);
  height: 40px;
  line-height: 40px;
  border: 0px;
  padding: 0px 15px;

  .typing-loading {
    display: flex;

    .loading-data {
      border: 0;
    }

    .typing-description {
      color: var(--ts-gray-500);
      font-size: 14px;
      margin-right: 6px;
    }

    .three-bounce div {
      width: 8px;
      height: 8px;
      background: #898989;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: threeBounceDelay 1.4s infinite ease-in-out;
      animation: threeBounceDelay 1.4s infinite ease-in-out;
      -webkit-animation-fill-mode: "both";
      animation-fill-mode: "both";
      margin: 0 1px;
    }

    .three-bounce .bounce1 {
      width: 10px;
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }

    .three-bounce .bounce2 {
      width: 12px;
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s;
    }
  }
}


@-webkit-keyframes threeBounceDelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes threeBounceDelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

// --------- user search ---------------

.friend-request-btns {
  display: flex;
}

.friend-request-btn {
  width: 90px;
  height: 34px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 100rem;
  font-weight: 600;
}

.friend-request-btn.add {
  background: #FFC100;
  color: white;
}

.friend-request-btn.add:hover {
  background: #f1b500;
  color: white;
}

.friend-request-btn.requested {
  background: var(--ts-gray-400);
  color: white;
}

.friend-request-btn.friend {
  background: var(--ts-gray-400);
  color: var(--ts-gray-500);
}

.friend-request-btn.you {
  background: var(--ts-gray-400);
  // color: var(--ts-gray-500);
  color: white;
  cursor: no-drop;
}

.friend-request-btn.request-confirm-btn {
  background: var(--ts-positive-500);
  color: white;
  // border-radius: 50%;
  width: 42.5px;
  height: 34px;
  font-size: 11px;
  margin: 0 2.5px;
}

.friend-request-btn.request-confirm-btn:hover {
  background: var(--ts-positive-600);
}

.friend-request-btn.request-decline-btn {
  background: var(--ts-gray-500);
  color: white;
  // color: var(--ts-gray-500);
  // border-radius: 50%;
  width: 42.5px;
  height: 34px;
  font-size: 11px;
  margin: 0 2.5px;
}

.friend-request-btn.request-decline-btn:hover {
  background: var(--ts-gray-600);
}

#image-preload-area {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 250px;
  display: none; // flex
  justify-content: center;
  align-items: center;

  #image-preload-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    #image-preload-image {
      height: 200px;
      width: auto;
      border-radius: 10px;
    }

    #input-file-reset-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      border: 1px solid white;
    }
  }


}

// emoji selector

.ts-dropdown.is-top-left {
  bottom: calc(100% + 0.2rem);
  left: 0.2rem;
}

.emoji-selector {
  height: 220px;
  padding: 15px 5px;
}

.emoji {
  font-size: 20px;
}

// settings-modal

.avatar-edited-btn {
  position: absolute;
  top: -150px;
  width: 150px;
  height: 150px;
  color: #00000000;
  // background: rgba(69, 69, 69, 0.5);
  // color: rgb(255, 255, 255, 0.9);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

}

.avatar-edited-btn:hover {
  background: rgba(69, 69, 69, 0.5);
  // background: rgba(69, 69, 69, 0.7);
  color: rgb(255, 255, 255, 0.9);
}

// --------- toast message ---------

.toast.toast-warning {
  background: #f1b500;
  opacity: 1;
}

.toast-title {
  // padding: 10px;
  font-size: 16px;
  font-weight: 600
}

.toast-message {
  font-size: 14px;
  font-weight: 300;
}

.toast-close-button {
  color: #444;
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  // opacity: 0.5;
}

.rtl .toast-close-button {
  left: -0.3em;
  float: left;
  right: 0.3em;
}

#toast-container>div {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 20px 15px 50px;
  width: 400px;
  min-height: 75px;
  border: none;
  background: #f3f3f3;
  border-radius: 10px;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-weight: 600;
  color: #444444;
  text-align: left;
  opacity: 1;
}

.toast-progress {
  background: #ffbb00;
}

#toast-container>div.rtl>.toast-message {
  padding-left: 10px;
}

#toast-container>div:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  opacity: 1;
  cursor: pointer;
}

#toast-container>.toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAHlBMVEUAAABERERERERERERERERERERERERERERERERERETc6x8uAAAACXRSTlMABD0/ZmdoacOLo3CaAAAAVklEQVQY02NgIBWwTULiVE5GsNlnFiBJTMcnwQg1CixhGQDmZIJ1WE5DSAA1JsAlgDqnMjCwwoxin+nAEAm3o3IKK8IO9pmdSJZXIlvONhXZJwIM5AMAvo4WUMBBjx4AAAAASUVORK5CYII=") !important;
}

#toast-container>.toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAvVBMVEUAAABERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERERETBzRBMAAAAPnRSTlMAAQIDBAUICQwNDg8QERIUHiAoKSotLi8wMTg8QEZHSUpMT1lbaWtvcHFzdHV3fH6Cg52io6XIztHz9ff7/SDZBm4AAAD7SURBVBgZZcEJUsJAAEXBn5AogiGgCAIi2yjEXcKOvPsfy2EmhVTZrUI6WWGtJqnOJTkneaKTPuymjTgI4sZsD30VMphFKsQZZHKGHFo60z4wkFWFeznlspwOXEla8CqnBz0578ylCrtYzhjGcuI9ZY35lBd2u6G8b0Zacqt/muTakOgoxDLyaqy140JHwcMCjLxLttqQyDNg5NVYa8mNPANGXpNcYz7kGTDyvhipwjaSY8DIifeUpQUvskKcUNYbc0lVaMu6dmR1oCJryM+dzrQODORkMI1UiGaQqfAI26d6HARx/XkHfZ3UFpzkNZ1LzQprZVL9Vyrpzy9Z0CqxeFol7gAAAABJRU5ErkJggg==") !important;
}


// display-none

#chatbox,
.display-none {
  display: none;
}