@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
}

.box-shadow {
  box-shadow: 1px 1px 2px 2px rgba(153, 153, 153, 0.3);
}

.top-bar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #64cef4;
  width: 100%;
  height: 62px;
  padding: 10px;
  z-index: 1;
}
.top-bar .top-bar-left {
  color: #fff;
  font-family: sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
  margin-left: 20px;
}
.top-bar .top-bar-right {
  display: flex;
  margin-left: auto;
}
.top-bar .top-bar-right .sign-in-btn,
.top-bar .top-bar-right .sign-up-btn,
.top-bar .top-bar-right .chatroom-btn {
  cursor: pointer;
  color: black;
  background: #ffffff;
  width: 80px;
  border-radius: 50px;
  text-align: center;
  font-size: 14x;
  height: 35px;
  line-height: 35px;
  margin: 0 5px;
  box-shadow: 1px 2px 1px rgba(69, 69, 69, 0.6);
}
.top-bar .top-bar-right .chatroom-btn {
  width: 100px;
  font-weight: 500;
  background: #fff374;
}
.top-bar .top-bar-right .sign-in-btn:hover,
.top-bar .top-bar-right .sign-up-btn:hover,
.top-bar .top-bar-right .chatroom-btn:hover {
  background: #eeeff1;
}
.top-bar .top-bar-right .chatroom-btn:hover {
  background: #ffde4d;
}
.top-bar .top-bar-right #loggedin-status {
  display: none;
}
.top-bar .top-bar-right.logged-in {
  display: none;
}

.svg-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.greeting {
  color: #fff;
  padding-top: 200px;
  padding-bottom: 30vw;
  text-align: center;
}
.greeting .greeting-one {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 65px;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.6);
  margin-left: 20px;
  margin-bottom: 10px;
}
.greeting .greeting-two {
  letter-spacing: 1px;
  font-family: "Poiret One", sans-serif;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}

#login-account-icon,
#login-password-icon,
#signup-username-icon,
#signup-email-icon,
#signup-password-icon {
  color: #64cef4;
}

#login-btn,
#signup-btn {
  font-size: 15px;
  border: #64cef4;
  background: #64cef4;
  margin-top: 10px;
}

#login-btn:hover,
#signup-btn:hover {
  background: #3dbdeb;
}

#login-modal-close-btn,
#signup-modal-close-btn {
  position: absolute;
  background: #106d90;
  top: 15px;
  right: 15px;
}

#login-modal-close-btn:hover,
#signup-modal-close-btn:hover {
  background: #084055;
}

.login-message {
  font-size: 16px;
  color: rgb(235, 5, 5);
  margin: -5px auto -10px auto;
}

.signup-message {
  font-size: 16px;
  color: rgb(235, 5, 5);
  margin: -5px auto -10px auto;
}

.signup-success-message {
  font-size: 16px;
  color: green;
  margin: -5px auto -10px auto;
}

.login-error-message,
.signup-error-message {
  margin: -10px 0px -5px 5px;
  font-size: 12px;
  color: rgb(235, 5, 5);
}

.ts-input.is-negative :is(input, textarea) {
  color: black;
  font-weight: 400;
}

.login-to-signup-description,
.signup-to-login-description {
  text-align: center;
  font-size: 15px;
  margin-top: -5px;
  color: var(--ts-gray-600);
}

#login-to-signup-btn,
#signup-to-login-btn {
  color: #0d88b5;
}

#login-to-signup-btn:hover,
#signup-to-login-btn:hover {
  cursor: pointer;
  font-weight: 700;
}

img {
  width: 60%;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px rgba(146, 146, 146, 0.368627451);
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 5vh 0;
}

.intro {
  height: 80%;
  text-align: center;
  padding: 20px;
  background-color: rgba(158, 218, 255, 0.1215686275);
  box-shadow: rgba(99, 99, 99, 0.1) 1px 1px 3px 0px;
}

.intro-content {
  width: 800px;
  text-align: center;
  font-size: 20px;
  margin: 25px auto;
  color: #00526f;
  font-weight: 500;
}

h1 {
  color: #0e6685;
  margin: 0 0 40px 0;
  font-size: 45px;
  text-shadow: 1px 5px 3px rgba(146, 146, 146, 0.4862745098);
}

.divider {
  height: 250px;
  border: 2px dashed #eee;
  margin: 30px 0;
}

footer {
  text-align: center;
  position: relative;
}
footer svg {
  top: 10px;
}
footer p {
  z-index: 1;
  position: absolute;
  bottom: 5vh;
  width: 100%;
  text-align: center;
}

.ts-button.is-disabled {
  cursor: no-drop;
}/*# sourceMappingURL=index.css.map */