@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

$testBorderLine: 1px solid grey;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', 'Times New Roman';
}

.login-container,
.register-container {
  border: $testBorderLine;
  width: 300px;
  height: 270px;
  margin: 50px auto;
  text-align: center;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .login-title,
  .register-title {
    font-size: 20px;
    font-weight: 700;
  }
}


input {
  width: 180px;
  height: 30px;

  padding: 10px;

  border: 1px solid gainsboro;
  border-radius: 5px;
}

button {
  width: 180px;
  height: 30px;
}